$base-color: #6b63b599;
$base-color-slytherin: linear-gradient(135deg, #1c792b 0%, #82e95e 100%);
$base-color-ravenclaw: linear-gradient(135deg, #0597b7 0%, #66d1ff 100%);
$base-color-hufflepuff: linear-gradient(135deg, #ffc700 0%, #fff388 100%);
$base-color-gryffindor: linear-gradient(135deg, #ff0000 0%, #fed482 100%);
$base-color-buttons: #6b63b5;
$base-color-button-filter: #00000099;
$base-color-button-active: #6b63b5;
$base-color-button-filter-hover: #6b63b599;

$background-cards: #ffff;
$background-cards-not-alive: #cccccc;
$border-readius: 16px;
$font-family: Open Sans;

body {
  background-color: #000000;
  margin: 0;
  font-family: $font-family;
}

img {
  border-radius: 50%;
}

h5 {
  padding: 0;
  margin: 1px 0.4rem;
  text-transform: capitalize;
}

header {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  margin-right: 6rem;
}

.header__button {
  align-items: center;
  background-color: $base-color-buttons;
  color: $background-cards;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  height: 36px;
  justify-content: center;
  line-height: 25px;
  text-transform: uppercase;
}
.header__button-favorite {
  border-radius: 0px 0px 0px 10px;
}
.header__button-add {
  border-radius: 0px 0px 10px 0px;
}

.header__button-icon {
  align-self: center;
  justify-self: center;
}

.filter__container {
  display: flex;
  flex-direction: column;
  margin-top: 5rem;
}

.filter__button-container {
  align-self: center;
  margin-top: 2.5rem;
}

.filter__title {
  align-self: center;
  color: $background-cards;
  font-weight: 700;
  font-size: 36px;
  line-height: 25px;
}

.filter__button {
  background: $base-color-button-filter;
  border: 4px solid $base-color-button-active;
  color: $background-cards;
  cursor: pointer;
  font-weight: 600;
  height: 67px;
  margin: 0 4rem;
  text-transform: uppercase;
  width: 288px;
}

.filter__button-active {
  background: $base-color-button-active;
}

.filter__button:hover {
  background: $base-color-button-filter-hover;
}

.filter__icon {
  margin: 0px 0px 2.5rem;
  align-self: center;
  width: 194px;
  height: 66px;
}

.firstSection {
  background: url("../assets/img/imageHome.jpg") no-repeat;
  background-size: contain;
  background-position: fixed;
}

.secondSection {
  background: #000000;
  height: calc(50vh);
}

.card__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 100px;
}

.card {
  flex: 0 1 calc(50% - 2em);
  display: flex;
  border-radius: $border-readius;
  box-sizing: border-box;
  margin: 1rem 0.25em;
  width: 255px;
  height: 235;
}

.card__image-background {
  display: flex;
  width: calc(100% / 3 + 30px);
  height: auto;
  left: 0px;
  top: 0px;
  bottom: 0px;
  border-radius: $border-readius 0px 0px $border-readius;
  align-items: center;
  justify-content: center;
}

.card__image-background-slytherin {
  background: $base-color-slytherin;
}

.card__image-background-ravenclaw {
  background: $base-color-ravenclaw;
}

.card__image-background-hufflepuff {
  background: $base-color-hufflepuff;
}

.card__image-background-gryffindor {
  background: $base-color-gryffindor;
}

.card__section-info {
  display: flex;
  flex-direction: column;
  margin-left: 1.5rem;
  width: 53%;
}
.card__section-title-container {
  display: flex;
  margin-top: 0.7rem;
  justify-content: space-between;
}
.card__section-title {
  align-self: flex-start;
  color: #9999;
  font-size: 14px;
  margin-top: 0.5rem;
  line-height: 19.07px;
  font-weight: 600;
}
.card__section-title-icon {
  margin-top: 0.2rem;
  cursor: pointer;
}

.card__section-name {
  color: #081f32;
  font-size: 30px;
  margin-top: 1rem;
  line-height: 46px;
  font-weight: 600;
}

.card__section-general_info__container {
  display: flex;
  flex-direction: column;
  margin-top: 1.3rem;
  margin-bottom: 1.3rem;
}
.card__section-general_info__item {
  display: flex;
  color: #374a59;
  font-size: 14px;
  line-height: 27px;
  font-weight: bold;
}

.card__alive-background {
  background-color: $background-cards;
}

.card__not_alive-background {
  background-color: $background-cards-not-alive;
}
