@import "mobile.scss";

$base-color: #6b63b599;
$base-color-slytherin: linear-gradient(135deg, #1c792b 0%, #82e95e 100%);
$base-color-ravenclaw: linear-gradient(135deg, #0597b7 0%, #66d1ff 100%);
$base-color-hufflepuff: linear-gradient(135deg, #ffc700 0%, #fff388 100%);
$base-color-gryffindor: linear-gradient(135deg, #ff0000 0%, #fed482 100%);



$base-color-buttons: #6b63b5;
$base-color-button-filter: #00000099;
$base-color-button-active: #6b63b5;
$base-color-button-filter-hover: #6b63b599;
$active-radio-button: #0e4da4;

$background-cards: #ffff;
$background-cards-not-alive: #cccccc;
$border-readius: 16px;
$font-family: Open Sans;

body {
  background-color: #000000;
  margin: 0;
  font-family: $font-family;
}
* {
  box-sizing: border-box;
}

img {
  border-radius: 50%;
}

h5 {
  padding: 0;
  margin: 1px 0.4rem;
  text-transform: capitalize;
}

hr {
  border: 1px solid #403b6d;
  width: 92%;
  margin-bottom: -1px;
}

header {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  margin-right: 6rem;
}

.header__button-container {
  display: flex;
  width: 281px;
}

.header__button {
  z-index: 2;
  align-items: center;
  background-color: $base-color-buttons;
  color: $background-cards;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  height: 36px;
  width: 100%;
  justify-content: center;
  line-height: 25px;
  text-transform: uppercase;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border: none;
}
.header__button-favorite {
  border-radius: 0px 0px 0px 10px;
}
.header__button-add {
  border-radius: 0px 0px 10px 0px;
}

.header__button-icon {
  align-self: center;
  justify-self: center;
}

.header__favorites-panel {
  padding-top: 36px;
  display: flex;
  flex-direction: column;
  position: absolute;
  background: $base-color-buttons;
  z-index: 1;
  width: 281px;
  border-radius: 0 0 10px 10px;
  color: white;
}

.header__favorites-panel-item {
  padding: 2px 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 0.5rem;
  color: $background-cards;
}

.header__favorites-panel-no-content {
  padding: 6px 10px;
  color: $background-cards;
  align-self: center;
}

.filter__container {
  display: flex;
  flex-direction: column;
  margin-top: 5rem;
}

.filter__button-container {
  align-self: center;
  margin-top: 2.5rem;
}

.filter__title {
  align-self: center;
  color: $background-cards;
  font-weight: 700;
  font-size: 36px;
  line-height: 25px;
}

.filter__button {
  background: $base-color-button-filter;
  border: 4px solid $base-color-button-active;
  color: $background-cards;
  cursor: pointer;
  font-weight: 600;
  height: 67px;
  margin: 0 4rem;
  text-transform: uppercase;
  width: 288px;
}

.filter__button-active {
  background: $base-color-button-active;
}

.filter__button:hover {
  background: $base-color-button-filter-hover;
}

.filter__icon {
  margin: 0px 0px 2.5rem;
  align-self: center;
  width: 194px;
  height: 66px;
}

.firstSection {
  background: url("../assets/img/imageHome.jpg") no-repeat;
  background-size: contain;
  background-position: fixed;
}

.secondSection {
  background: #000000;
  height: calc(50vh);
}

.card__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 100px;
}

.card {
  flex: 0 1 48%;
  display: flex;
  border-radius: $border-readius;
  box-sizing: border-box;
  margin: 1rem 0.25em;
  height: 235;
}

.card__image-background {
  display: flex;
  width: 35%; //calc(100% / 3 + 30px);
  left: 0px;
  top: 0px;
  bottom: 0px;
  border-radius: $border-readius 0px 0px $border-readius;
  align-items: center;
  justify-content: center;
}

.card__image-background-slytherin {
  background: $base-color-slytherin;
}

.card__image-background-ravenclaw {
  background: $base-color-ravenclaw;
}

.card__image-background-hufflepuff {
  background: $base-color-hufflepuff;
}

.card__image-background-gryffindor {
  background: $base-color-gryffindor;
}

.card__section-info {
  display: flex;
  flex-direction: column;
  margin-left: 1.5rem;
  width: 65%;
}
.card__section-title-container {
  display: flex;
  margin: 0.7rem 1rem 0 0;
  justify-content: space-between;
}
.card__section-title {
  align-self: flex-start;
  color: #9999;
  font-size: 14px;
  margin-top: 0.5rem;
  line-height: 19.07px;
  font-weight: 600;
}
.card__section-title-icon {
  margin-top: 0.2rem;
  cursor: pointer;
}

.card__section-name {
  color: #081f32;
  font-size: 30px;
  margin-top: 1rem;
  line-height: 46px;
  font-weight: 600;
}

.card__section-general_info__container {
  display: flex;
  flex-direction: column;
  margin-top: 1.3rem;
  margin-bottom: 1.3rem;
}
.card__section-general_info__item {
  display: flex;
  color: #374a59;
  font-size: 14px;
  line-height: 27px;
  font-weight: bold;
}

.card__alive-background {
  background-color: $background-cards;
}

.card__not_alive-background {
  background-color: $background-cards-not-alive;
}

.modal {
  width: 100%;
  display: flex;
  position: fixed;
  top: 0;
  padding: 1rem;
  left: 0;
  bottom: 0;
  left: 0;
  background: $background-cards;
  z-index: 10;
  padding: 1rem;
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.04);
  background: rgba(0, 0, 0, 0.7);
}
.modal__dialog {
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  display: flex;
  position: relative;
  margin: 0.5 rem;
  width: 637px;
  height: 546px;
}

.modal__content {
  align-self: center;
  justify-self: center;
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: $background-cards;
  outline: 0;
  border-radius: 10px;
  width: 637px;
  height: 546px;
}

.modal__header {
  background: white;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}

.modal__header-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0.5rem 1.8rem;
}

.modal__body {
  display: flex;
  flex-direction: column;
  margin: 0 1.8rem;
  width: 100%;
}

.modal__footer {
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 2.5rem;
  width: 100%;
}

.row {
  width: 100%;
  display: flex;
  margin-top: 1rem;
  justify-content: space-between;
}
.column {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.inputs {
  border: none;
  background: rgba(38, 50, 56, 0.06);
  border-bottom: 1px solid rgba(38, 50, 56, 0.38);
  color: #263238;
  padding: 0 0.5rem;
  width: 254px;
  height: 53px;
  outline: none;
}

.title__inputs {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 32px;
  letter-spacing: 0.01em;
  margin: 0 5px;
}

.radio_button {
  width: 20px;
  height: 20px;
  margin-top: 0.8rem;
  color: $active-radio-button;
}
.radio-button input[type="radio"] {
  background-color: red !important;
}

.form {
  display: flex;
  flex-direction: column;
  width: 95%;
}
.form-group {
  display: flex;
  align-content: center;
  justify-content: center;
}

.radio-button label {
  padding: 2px 0.5rem;
  font-size: 16px;
  cursor: pointer;
}

.modal__image-container {
  margin-top: 1.5rem;
  align-self: flex-start;
  justify-self: start;
}
